*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #e6e6e6;
}

.input-container{
    display: flex;
    justify-content: center;
    margin: 35px;
    padding: 05px;
    background-color: rgb(180, 190, 190);
}

.newLine{
    display: block;
}

#caps{
    display: none;
    justify-content: center;
    margin: 5px 100px;
    border-radius: 10ch;
}

#input-text{
    width: 600px;
    height: 200px;
    padding: 5px;
    font-size: 30px;
}

.keyboard-horozintal-one{
    display: flex;
    justify-content: center;
    margin: 5px 100px;
    border-radius: 10ch;
}

.keyboard-horozintal-one > div{
    margin: 7px 12px!important;
    font-size: 31px;
    background-color: cadetblue;
    cursor: pointer;
}

.a{
    font-size: 23px;
    position: relative;
    bottom: 2px;
}

.words{
    border: 1px solid black;
    width: 40px;
    padding: 2px;
    text-align: center;
    border-radius: 10ch;
}

.tap{
    display: flex;
    justify-content: center;
    margin: 20px 320px;
    border: 2px solid cadetblue;
    border-radius: 10ch;
    padding: 5px;
    cursor: pointer;
}